<!-- HERO -->
<div class="hero">

    <div class="overlay">
        <div class="content text-center text-white">

            <h1 class="fw-bold display-4">
                Explora experiencias únicas con JMJ Tours
            </h1>

            <p class="lead mt-3">
                Encuentra y reserva los mejores tours de forma rápida y segura.
            </p>

            <a routerLink="/tours" class="btn btn-light btn-lg fw-semibold mt-4">
        Ver experiencias
      </a>

        </div>
    </div>
</div>

<!-- POPULAR -->
<section class="popular py-5">

    <h2 class="text-center fw-bold mb-4">
        Tendencias en Guayaquil
    </h2>

    <div class="popular-grid">

        <div class="place-card">
            <img src="/cerrosantaana.jpg">
            <h4>Cerro Santa Ana</h4>
            <span>⭐ 4.9</span>
        </div>

        <div class="place-card">
            <img src="/malecon.jpg">
            <h4>Malecón 2000</h4>
            <span>⭐ 4.8</span>
        </div>

        <div class="place-card">
            <img src="/parque.jpg">
            <h4>Parque Histórico</h4>
            <span>⭐ 4.7</span>
        </div>

    </div>
</section>