<footer class="footer bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>JMJ Tours</h5>
                <p>Explora Guayaquil con seguridad y estilo. Vive itinerarios únicos y reservaciones fáciles.</p>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Enlaces rápidos</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/home" class="text-white text-decoration-none">Inicio</a></li>
                    <li><a routerLink="/tours" class="text-white text-decoration-none">Tours</a></li>
                    <li><a routerLink="/about" class="text-white text-decoration-none">Acerca de</a></li>
                    <li><a routerLink="/contactanos" class="text-white text-decoration-none">Contáctanos</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Contacto</h5>
                <p>info@jmjtours.com</p>
                <p>Guayaquil, Ecuador</p>
            </div>
        </div>
        <div class="text-center mt-4">
            <small>&copy; 2026 JMJ Tours. Todos los derechos reservados.</small>
        </div>
    </div>
</footer>